{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Meteography</title>
  <link rel="stylesheet" href="{% static 'meteographer/style.css' %}"/>
</head>
<body>
  <h1>Meteography</h1>
  <p>This is a meteographer</p>
  <section>
    <h2>List of cameras</h2>
    {% if webcams %}
    <ul class="camlist">
      {% for webcam in webcams %}
        <li>
          <img src="{{ webcam.prediction.image }}" 
               class="thumbnail" alt="Latest {{ webcam.name }} prediction" />
          <div>
            <header>{{ webcam.name }}</header>
            <!--<p>Latest prediction done 5 min ago for 30 min later</p>-->
          </div>
        </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>No webcam available.</p>
    {% endif %}
  </section>
</body>
</html>

