{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Meteography</title>
  <link rel="stylesheet" href="{% static 'broadcaster/style.css' %}"/>
</head>
<body>
  <h1>Meteography</h1>
  <p>This is a meteographer</p>
  <section>
    <h2>List of cameras</h2>
    {% if webcams %}
    <ul class="camlist">
      {% for webcam in webcams %}
        <li>
          {% if webcam.latest_prediction %}
            <img src="{{ webcam.latest_prediction.url }}"
               class="thumbnail" alt="Latest {{ webcam.name }} prediction" />
          {% else %}
            <img src="{% static 'broadcaster/img/noprediction.png' %}"
               class="thumbnail" alt="No prediction available" />
          {% endif %}
          <div>
            <header>{{ webcam.name }}</header>
            {% if webcam.latest_prediction %}
              <p>Latest prediction done x min ago for y min later</p>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>No webcam available.</p>
    {% endif %}
  </section>
</body>
</html>

