{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}Meteography{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'broadcaster/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'broadcaster/css/style.css' %}"/>

  <script src="{% static 'broadcaster/js/jquery-1.11.3.min.js' %}"></script>
  <script src="{% static 'broadcaster/js/bootstrap.min.js' %}"></script>
</head>
<body>
  <div class="container">
    {% block body %}{% endblock %}
  </div>
</body>
</html>
