{% extends "broadcaster/base.html" %}
{% load broadcastertags %}

{% block title %}Meteography{% endblock %}

{% block body %}
  <h1>Meteography</h1>
  <p>This is a meteographer</p>
  <section>
    <h2>List of cameras</h2>
    {% if webcams %}
      <ul class="pred-recap alternated">
        {% for webcam in webcams %}
          <li>
            <a href="{% url 'webcam' webcam.webcam_id %}">
              {% latest_prediction webcam %}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No webcam available.</p>
    {% endif %}
  </section>
{% endblock %}

