{% extends "broadcaster/base.html" %}
{% load broadcastertags %}

{% block title %}{{ webcam.name }} meteography{% endblock %}

{% block body %}
  <h1>{{ webcam.name }} meteography</h1>
  <section>
    <h2>List of prediction configurations</h2>
    {% if webcam.pred_params_list %}
    <ul class="pred-recap">
      {% for params in webcam.pred_params_list %}
        <li>
          {% latest_prediction params %}
        </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>No prediction configuration available.</p>
    {% endif %}
  </section>
{% endblock %}

