body {
  padding: 10px;
}

.linked-list li > a {
  color: inherit;
}

.pred-recap {
  list-style: none;
}
.pred-recap li {
  padding: 10px;
}
.pred-recap > li:nth-child(odd) {
  background-color: #ddddff;
}
.pred-recap > li:nth-child(even) {
  background-color: #bbbbff;
}
.pred-recap.linked-list > li:hover {
  background-color: #ccccff;
}
.pred-recap .thumbnail {
  vertical-align: middle;
}
.pred-recap div {
  display: inline-block;
  vertical-align: middle;
}

.pred-history {
  margin-left: 30px;
  border: 1px solid;
  float: left;
}
.pred-history td {
  padding: 5px;
}

.errgraph {
  width: 500px;
  margin: 2px 10px;
}