.pred-recap {
  list-style: none;
}

.pred-recap li {
  padding: 10px;
}
.pred-recap li:nth-child(odd) {
  background-color: paleturquoise;
}
.pred-recap li:nth-child(even) {
  background-color: cadetblue;
}
.pred-recap .thumbnail {
  vertical-align: middle;
}

.pred-recap div {
  display: inline-block;
  vertical-align: middle;
}
