body {
  padding: 10px;
}

.linked-list li > a {
  color: inherit;
}

.pred-recap {
  list-style: none;
}
.pred-recap li {
  padding: 10px;
}
.pred-recap > li:nth-child(odd) {
  background-color: #ddddff;
}
.pred-recap > li:nth-child(even) {
  background-color: #bbbbff;
}
.pred-recap.linked-list > li:hover {
  background-color: #ccccff;
}

.latest-pred .thumbnail {
  vertical-align: middle;
}
.latest-pred div {
  display: inline-block;
  vertical-align: middle;
}
.latest-pred p {
  margin-top: 5px;
}

.details-panel {
  margin: 10px 0px 0px 30px;
  vertical-align: middle;
}
.pred-history {
  border: 1px solid;
  display: inline-block;
}
.pred-history td {
  padding: 5px;
}

.errgraph {
  width: 500px;
  margin: 10px;
}