.pred-recap {
  list-style: none;
}

.pred-recap li {
  padding: 10px;
}
.pred-recap.alternated > li:nth-child(odd) {
  background-color: paleturquoise;
}
.pred-recap.alternated > li:nth-child(even) {
  background-color: cadetblue;
}
.pred-recap .thumbnail {
  vertical-align: middle;
}

.pred-recap div {
  display: inline-block;
  vertical-align: middle;
}

.pred-history {
  margin-left: 30px;
  border: 1px solid;
  float: left;
}
.pred-history td {
  padding: 5px;
}

.errgraph {
  width: 500px;
  margin: 2px 10px;
}